.title {
  color: white;
  padding-bottom: 8%;
  font-size: 5rem;
}

.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.menu-button {
  width: 350px;
  text-align: center;
  
}
  
.btn-custom:hover {
  transform: scale(1.05);
  background-color: hsl(28, 60%, 58%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.score {
  position: absolute;
  bottom: 10px;
  right: 7%;
  font-size: 2.4rem;
}