.game-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.rules-title {
    font-size: 2.8rem !important;
    font-weight: bold !important;
    color: #444 !important;
    margin: 0;
    padding-top: 0% !important;
}

.rule-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    gap: 15px;
}

.rule-text {
    font-size: 1rem;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

.rule-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.navigation-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.navigation-buttons button {
    padding: 12px 25px;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.1s;
    width: 100%;
}

.navigation-buttons button:disabled {
    background-color: #b5b5b5  !important;
    cursor: not-allowed !important;
}

.back-to-menu {
    font-size: 1.2rem;
    padding: 2% !important;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 50%;
    margin-top: 10px;
}
