.save-slots-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4%;
  background-color: #f0eceb;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: fit-content;
  max-height: 80vh;
}


.save-slots-menu h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #444 !important;
  text-align: center;
  padding-top: 0;
  padding-bottom: 2%;
}

.slots {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 100%;
  max-height: 80%;
  overflow-y: auto;
  padding: 5%;
}

.slot-card {
  background-color: #444;
  color: white;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.slot-card h3 {
  font-size: 1.5rem;
}

.slot-card p {
  font-size: 1.5rem;
}

.slot-card button {
  width: 100%;
  padding: 10px;
  font-size: 1.4rem;
}

.play-button-disabled {
  display: none;
}

.confirmation-message {
  font-size: 0.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0%;
}

.confirmation-buttons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.confirmation-buttons .btn-custom {
  font-size: 1.2rem;
}

.reset-button {
  max-width: fit-content !important;
}

.confirm-button {
  background-color: #21893a !important;
  max-width: fit-content !important;
}

.confirm-button:hover {
  background-color: #1b722f !important;
  transform: scale(1.05);
}

.cancel-button {
  background-color: #9d2632 !important;
  max-width: fit-content !important;
}

.cancel-button:hover {
  background-color: #78151f !important;
  transform: scale(1.05);
}

.back-button {
  font-size: 1.3rem !important;
  padding: 3% !important;
  border-radius: 20px !important;
  width: 50% !important;
  margin-top: 6% !important;
}