.settings-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f7f7f7;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.settings-button-img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 1%;
    right: 1%;
}
  
.settings-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-bottom: 0%;
    padding: 10px;
}
  
.settings-group label {
    font-size: 1.3rem;
    margin-bottom: 0%;
}
  
.settings-group input {
    width: 100%;
}

.settings-title {
    font-size: 2.6rem !important;
    font-weight: bold !important;
    color: #444 !important;
    padding-top: 0% !important;
}

.back-to-menu {
    font-size: 1.5rem !important;
    padding: 2% !important;
    color: white;
    border-radius: 20px !important;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    width: 100% !important;
    margin-top: 0% !important;
}