/* CajaStation.css */

/* Contenedor principal */
.caja-station {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Fondo */
.caja-station__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/images/estacionCaja.png') no-repeat top center;
  background-size: cover;
  z-index: -1;
}

/* Col que envuelve imagen y burbuja */
.caja-station__col {
  position: relative;
  top: 5%;
   /* Más ancho en escritorio */
  padding: 1.5%;
}

/* Burbuja de pedido */
.order-bubble {
  position: absolute;
  bottom: calc(100% + 0.5rem); /* separada un poco del cliente */

  width: 100% !important;
  padding: 1.2rem 1.4rem;

  background: #fff;
  border: 0.2rem solid #ccc;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 1rem rgba(0,0,0,0.2);

  font-size: 1rem;
  font-weight: 600;
  color: #000;
  text-align: center;
  line-height: 1.2;

  cursor: pointer;
  z-index: 10;
}



/* Desactivar puntero cuando está completado */
.order-bubble--disabled {
  cursor: default;
  opacity: 0.8;
}

/* Imagen del cliente */
.client-img {
  width: 30% ;
  height: auto;
  margin: 0 auto;
}

/* Imagen dentro de la burbuja */
.order-bubble__img {
  width: 30%;
  max-width: 60px;
  height: auto;
  object-fit: contain;
}

/* --------- Puntos de ruptura --------- */

/* Tablet */
@media (max-width: 1200px) {
  .caja-station__col {
    max-width: 30%;
  }
  .order-bubble {
    width: 90%;
    padding: 1rem 1.2rem;
    font-size: 1.2rem;
    bottom: calc(100% + 0.5rem);
  }
  .order-bubble__img {
    width: 35%;
    max-width: 50px;
  }
  .client-img {
    width: 75%;
  }
}

/* Móvil */
@media (max-width: 896px) {
  .caja-station__col {
    max-width: 60%;
  }
  .order-bubble {
    width: 50%;
    max-width: 70%;
    padding: 1.4rem 1.6rem;
    font-size: 1rem;
    bottom: calc(100% + 0.5rem);
  }
  .order-bubble__img {
    width: 20%;
  }
  .client-img {
    width: 25%;
  }
  .h-100 {
    height: 125% !important;
  }
}
