.empanado-station {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/estacion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  touch-action: none;
}

.contenido-centro {
  display: flex;
  width: 80vw;
  height: 80vh;
}

.caja-wrapper {
  position: relative;
  left: 15%;
  display: flex;
  text-align: center;
  width: 20%;
  justify-content: flex-start;
  align-items: center;
}

.caja-imagen {
  width: 100%;
  height: auto;
  cursor: pointer;
  user-select: none;
}

.caja-label {
  position: relative;
  top: -30%;
  left: -65%;
  font-weight: bold;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.054);
  color: black;
}

.croqueta {
  width: 10%;
  height: auto;
  cursor: grab;
  user-select: none;
  transition: transform 0.2s;
}

.croqueta-wrapper{
  position: absolute;
  left: 25%;
  bottom: 10%;
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.fase-1 {
  content: url("/images/croquetaHarina.png");
  width: 8%;
}

.fase-2 {
  content: url("/images/croquetaHuevo.png");
  width: 8%;
}

.fase-3 {
  content: url("/images/croquetaPan.PNG");
  width: 8%;
}

.bolBechamel {
  position: absolute;
  bottom: 5%;
  left: 0%;
  width: 20%;
  height: auto;
  transition: transform 0.1s;
}

.bolBechamel:active {
  transform: scale(0.95);
}

#finalizado{
  position: absolute;
  right: 5%;
  bottom: 5%;
  background-color: black;
  opacity:  0.3;
  border-radius: 10%;
  width: 20%;
  height: 30%;
}

.contador-croquetasFinalizadas {
  position: absolute;
  bottom: 1%;
  right: 7%;
  font-size: 8vh;
  color: white !important;
  font-weight: bold;
}

@media(max-height:320px) {
  .caja-label{
    font-size: 1rem;
  }
}