.empanado-station {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/estacion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh;
}

.contenido-centro {
  display: flex;
  width: 90vw;
  height: 90vh;
  max-width: 1200px;
  max-height: 800px;
}

.caja-wrapper {
  position: relative;
  left: 15%;
  display: flex;
  text-align: center;
  width: 20%;
  justify-content: flex-start;
  align-items: center;
}

.caja-imagen {
  width: 100%;
  height: auto;
  cursor: pointer;
  user-select: none;
}

.caja-label {
  position: relative;
  top: -30%;
  left: -65%;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.croqueta {
  width: 15%;
  height: auto;
  cursor: grab;
  user-select: none;
  transition: transform 0.2s;
}

.croqueta-wrapper{
  position: absolute;
  left: 25%;
  bottom: 10%;
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Filtro visual por fase */
.fase-0 {
  filter: hue-rotate(0deg) brightness(1);
}

.fase-1 {
  filter: hue-rotate(40deg) brightness(1.1);
}

.fase-2 {
  filter: hue-rotate(360deg) brightness(0.95);
}

.fase-3 {
  filter: hue-rotate(0deg) brightness(0.8);
}

.bolBechamel {
  position: absolute;
  bottom: 5%;
  left: 0%;
  width: 20%;
  height: auto;
  transition: transform 0.1s;
}

.bolBechamel:active {
  transform: scale(0.95);
}

@media(max-width:768px) {}