.empanado-station {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/estacion.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contenido-centro {
    position: relative;
    width: 600px;
    height: 500px;
  }
  
  button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    z-index: 10;
  }
  
  .caja-imagen {
    position: absolute;
    left: -80px;
    width: 250px;
    cursor: pointer;
    user-select: none;
  }

  .caja-wrapper {
    position: absolute;
    text-align: center;
    width: 150px;
  }
  .caja-label {
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
  
  .croqueta {
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: grab;
    user-select: none;
  }
  
  .fase-0 {
    filter: hue-rotate(0deg) brightness(1);       /* Masa original */
  }
  
  .fase-1 {
    filter: hue-rotate(40deg) brightness(1.1);     /* Harina - tono claro */
  }
  
  .fase-2 {
    filter: hue-rotate(360deg) brightness(0.95);     /* Huevo - amarillento */
  }
  
  .fase-3 {
    filter: hue-rotate(0deg) brightness(0.8);   /* Pan rallado - dorado */
  }
  
  .bolBechamel {
    position: absolute;
    top: 300px;
    left: -200px;
    width: 200px;
    height: auto;
    transition: transform 0.1s;
  }

  .bolBechamel:active{
    transform: scale(0.95);
  }

  .tablaCortar {
    position: relative;
    top: 60%;
    height: 65%;
    width: 110%;
  }