.fritura-station {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/estacion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.freidora-wrapper {
  text-align: center;
  bottom: 10%;
  display: flex;
  width: 20%;
  height: 60%;
  justify-content: center;
  align-items: flex-end;
}

.freidora-contenedor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.freidora-imagen {
  width: 100%;
  height: 100%;
}

.texto-aceiteCalentando {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: -10%;
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1%;
}

.texto-aceiteListo {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: -10%;
  width: 100%;
  color: black;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1%;
}

.croquetas-wrapper {
  position: absolute;
  left: 0%;
  bottom: 20%;
  width: 20%;
  height: 20%;
}

.plato-wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10%;
  position: absolute;
  width: 22%;
  height: 40%;
  bottom: 5%;
  right: 1%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.contenedor-freidora-imagen {
  position: absolute;
  right: 40%;
  bottom: 60%;
  width: 70%;
  height: auto;
}

.croqueta-en-freidora {
  position: absolute;
  bottom: 96%;
  right: 65%;
  width: 20%;
}

.croqueta-servida {
  position: relative;
  width: 70%;
  z-index: 2;
}
@media (max-height: 320px) {
  .texto-aceiteCalentando,
  .texto-aceiteListo {
    width: 200%;
  }
  
}