.fritura-station {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/estacion.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .freidoras {
    top: 35%;
    left: 35%;
    width: 90%;
    height: 50%;
  }

  .caja-fritura-imagen {
    width: 100%;
  }