.wide-modal {
  max-width: 60%;
  width: 100%;
}

.game-rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.rules-title {
    font-size: 2.8rem !important;
    font-weight: bold !important;
    color: #444 !important;
    margin: 0;
    padding-top: 0% !important;
}

.rule-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.rule-text {
    font-size: 1.5vw;
    color: #000000;
}

.rule-image {
    width: 60%;
    max-width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.navigation-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 60%;
    margin-top: 20px;
}

.navigation-buttons button {
    padding: 12px 25px;
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.1s;
    width: 100%;
}

.navigation-buttons button:disabled {
    background-color: #b5b5b5  !important;
    cursor: not-allowed !important;
}

.back-to-menu {
    font-size: 1.2rem;
    padding: 2% !important;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: 50%;
    margin-top: 10px;
}

@media(max-width:768px) {
    .rule-image {
    width: 100%;
    }

    .rule-text {
        font-size: 3vw;
    }
}