/* Estilo para centrar el contenido del modal */
.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  
  /* Ajustes para las imágenes dentro del modal */
  .modal-body img {
    width: 100%;
    max-width: 400px; /* Limita el tamaño máximo del GIF */
    margin-bottom: 20px; /* Espacio debajo del GIF */
  }
 
  /* Estilo para los botones dentro del modal */
  .modal-footer button {
    margin-top: 10px;
  }
  
  /* Estilos específicos para la Modal Title */
  .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  /* Opcional: Asegurar que el modal sea responsivo en dispositivos pequeños */
  @media (max-width: 768px) {
    .modal-body {
      padding: 20px; /* Añadir algo de espacio en dispositivos pequeños */
    }
  
    .modal-title {
      font-size: 1.25rem; /* Ajusta el tamaño del título en pantallas pequeñas */
    }
  
    .modal-footer button {
      width: 100%; /* Asegura que el botón ocupe el 100% del ancho en pantallas pequeñas */
    }
  }
  