body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #665343;
  color: white;
}

.btn-custom {
  padding: 1%;
  font-size: 1.3rem;
  background-color: #264653;
  border: none;
  border-radius: 3vw;
  color: white;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.1s;
  max-width: 60%;
}

.btn-custom:hover {
  background-color: #264653;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-custom:focus,
.btn-custom:active {
  background-color: #264653 !important;
}
